.container{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    background-color: goldenrod;
    height: 50vh;
    width: 35vw;
    align-items: center;
    justify-content: center;
}

.right{
    display: flex;
    height: 50vh;
    width: 60vw;
    background-color: cadetblue;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 575px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .left{
        width:100vw;
        height: 50vh;
    }
    .right{
        height: 50vh;
        width:100vw;
    }
}